.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

.centered-figure {
  text-align: center;
  margin: 20px auto;
}

.centered-image {
  max-width: 50%; /* Adjust the value as needed to make the image smaller */
  height: auto;
  display: block;
  margin: 0 auto;
}

.centered-caption {
  text-align: center;
  margin-top: 10px;
  font-size: 1em; /* Adjust the value as needed for caption size */
}
